VITE_SUPABASE_URL=https://swvdqywltlduwjluzbde.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InN3dmRxeXdsdGxkdXdqbHV6YmRlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk2NTY3MTQsImV4cCI6MjA5NTIzMjcxNH0.L_h4L_xf8L3xRLLnIjTspLqOd3TpCW9zNhjn-2nlMm0
VITE_ORGANIZER_PHONE=+7 (XXX) XXX-XX-XX
